{% extends 'portfolio/base.html' %}

{% block content %}
      <div class="jumbotron bg-cover" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url(https://pbs.twimg.com/media/DAf-BJJXcAA5Kkz.jpg:large)">
        <h1>Blog</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. </p>
        <hr>
        <p class="lead">Jamie has a {{ blogs.count }} blog{{blogs.count|pluralize}}</p>
      </div>

        <!-- <div class="row"> -->
          <!-- <div class="col-lg-4 col-md-6"> -->
          {% for blog in blogs %}

              <a href="{% url 'blog:detail' blog.id %}"><h4>{{ blog.title }}</h4></a>
              <p> {{blog.date_post|date:'M d Y'|upper}} </p>
              <p> {{blog.description|striptags|truncatechars:100}} </p>

          {% endfor %}
          <!-- </div> -->
        <!-- </div> -->

{% endblock %}
